.container{
	padding:0px;
	margin: 0px;
	width: 100%;
	height: 100px;
	background-color: beige;
}

.div-img {
	padding-top: 10px;
	align-content: center;

}
#logoImg{
	width: 150px; height: 80px;
	object-fit: contain;
}